/*------------------------------------------------------------------------------
Set up some WordPress furnishings
------------------------------------------------------------------------------*/

#toplevel_page_gfw_settings .wp-menu-image a img,
#toplevel_page_gfw_tests  .wp-menu-image a img {
    display: none;
}

#toplevel_page_gfw_settings .wp-menu-image,
#toplevel_page_gfw_tests .wp-menu-image {
    background: url('images/sprite.png') no-repeat 0 8px !important;
}

#toplevel_page_gfw_settings:hover .wp-menu-image,
#toplevel_page_gfw_settings.wp-has-current-submenu .wp-menu-image,
#toplevel_page_gfw_tests:hover .wp-menu-image,
#toplevel_page_gfw_tests.wp-has-current-submenu .wp-menu-image {
    background-position: 0 -24px !important;
}

#gfw-icon {
    background: url(images/icon32.png) no-repeat 0 0;
}

/*------------------------------------------------------------------------------
Sprites
------------------------------------------------------------------------------*/

.gfw-delete-icon,
.gfw-edit-icon,
.gfw-pause-icon,
.gfw-paused-icon,
.gfw-toggle-icon,
.gfw-help-icon,
.gfw-schedule-icon-small {
    background: url(images/sprite.png) no-repeat transparent;
    display: block;
    height: 13px;
    width: 13px;
    outline: 0 none;
    overflow: hidden;
    text-indent: -9999px;
    float: left;
    margin-left: 10px;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.gfw-delete-icon {
    background-position: -60px -19px;
}

.gfw-delete-icon:hover {
    background-position: -60px -32px;
}

.gfw-edit-icon {
    background-position: -78px -32px;
}

.gfw-edit-icon:hover {
    background-position: -78px -19px;
}

.gfw-pause-icon {
    background-position: -59px -65px;
}

.gfw-pause-icon:hover, .gfw-pause-icon.paused {
    background-position: -59px -50px;
}

/* Toggle icons are unused */
.gfw-toggle-icon {
    background-position: -40px 2px;
}

.gfw-toggle-icon:hover {
    background-position: -60px 2px;
}

.gfw-toggle-icon.report-expanded {
    background-position: -40px -17px;
}

.gfw-schedule-icon-small {
    background-position: -102px -35px;
}

.gfw-schedule-icon-small:hover {
    background-position: -102px -19px;
}

.gfw-report-icon, .gfw-schedule-icon-large, .gfw-pdf-icon, .gfw-video-icon {
    line-height: 20px;
    padding-left: 33px;
    background: transparent url(images/sprite.png) no-repeat;
    display: inline-block;
    white-space: nowrap;
}

.gfw-report-icon {
    background-position: -121px -2px;
}

.gfw-schedule-icon-large {
    background-position: -121px -20px;
}

.gfw-pdf-icon {
    background-position: -121px -40px;
}

.gfw-video-icon {
    background-position: -51px -81px;
}

.gfw-help-icon {
    background-position: -79px 0;
    height: 14px;
    width: 14px;
    display: inline-block;
    float: none;
    vertical-align: text-bottom;
}

.gfw-times-graph,
.gfw-sizes-graph,
.gfw-scores-graph {
    line-height: 14px;
    background: transparent url(images/sprite.png) no-repeat;
    display: inline-block;
}

.gfw-scores-graph {
    padding-left: 32px;
    background-position: -121px -63px;
}

.gfw-times-graph {
    padding-left: 33px;
    background-position: -121px -82px;
}

.gfw-sizes-graph {
    padding-left: 33px;
    background-position: -121px -102px;
}

/*------------------------------------------------------------------------------
Report scores, grades and meters
------------------------------------------------------------------------------*/

.gfw-grade-meter {
    background-color: #ffffff;
    border: 1px solid #e9e9e9;
    color: #ffffff;
    font-size: 10px;
    height: 14px;
    line-height: 14px;
    padding-left: 4px;
    position: relative;
    text-align: left;
    max-width: 97px;
}

.gfw-grade-meter-text {
    position: relative;
    z-index: 1;
}

.gfw-grade-meter-bar {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 0;
}

.gfw-grade-meter-A > .gfw-grade-meter-bar {
    background-color: #23AB11;
}

.gfw-grade-meter-B > .gfw-grade-meter-bar {
    background-color: #71BB30;
}

.gfw-grade-meter-C > .gfw-grade-meter-bar {
    background-color: #CBB708;
}

.gfw-grade-meter-D > .gfw-grade-meter-bar {
    background-color: #E29B20;
}

.gfw-grade-meter-E > .gfw-grade-meter-bar {
    background-color: #BB4A12;
}

.gfw-grade-meter-F > .gfw-grade-meter-bar {
    background-color: #EB393B;
}

.gfw-grade-meter-F {
    color: #443333;
}

.gfw-grade-meter-na {
    background-color: #D1D1D1;
    color: #666666;
}

.gfw-report-grade {
    background-image: url(images/letter-grades.png);
    background-repeat: no-repeat;
    background-color: transparent;
    display: inline;
    float: right;
    margin: 0 15px 0 0;
    text-indent: -9999em;
    width: 68px;
    height: 69px;
    font-size: 16px;
    letter-spacing: -1px;
    padding: 0;
    border: none;
}

.gfw-report-grade-A .gfw-report-grade {
    background-position: 0 0;
}

.gfw-report-grade-B .gfw-report-grade {
    background-position: -82px 0;
}

.gfw-report-grade-C .gfw-report-grade {
    background-position: -153px 0;
}

.gfw-report-grade-D .gfw-report-grade {
    background-position: -224px 0;
}

.gfw-report-grade-E .gfw-report-grade {
    background-position: -298px 0;
}

.gfw-report-grade-F .gfw-report-grade {
    background-position: -358px 0;
}

.gfw-report-grade-A .gfw-report-score {
    color: #43C156;
}

.gfw-report-grade-B .gfw-report-score {
    color: #A1CA82;
}

.gfw-report-grade-C .gfw-report-score {
    color: #D2B338;
}

.gfw-report-grade-D .gfw-report-score {
    color: #D6903F;
}

.gfw-report-grade-E .gfw-report-score {
    color: #BB4A12;
}

.gfw-report-grade-F .gfw-report-score {
    color: #D02D2D;
}

.gfw-report-score {
    float: left;
    font-size: 26px;
}

/*------------------------------------------------------------------------------
Tooltip
------------------------------------------------------------------------------*/

.ui-tooltip-content {
    font-size: 11px;
}

/*------------------------------------------------------------------------------
Expanded views
See http://www.alistapart.com/articles/holygrail
------------------------------------------------------------------------------*/

.gfw-expansion {
    padding: 8px 0 8px 230px;
    overflow: auto;
}

.gfw-expansion > div {
    position: relative;
    float: left;
}

.gfw-expansion-right {
    width: 100%;
}

.gfw-expansion-left {
    width: 230px;
    right: 230px;
    margin-left: -100%;
    text-align: center;
}

.gfw-expansion-left img {
    margin: auto;
    max-width: 90%;
}

.gfw-expansion table {
    width: 550px;
}

.gfw-expansion table td,
.gfw-expansion table th {
    padding: 3px 0;
}

.gfw-expansion-right > div {
    border-top: 1px solid #f3f3f3;
    padding: 8px 0;
    overflow: auto;
}

.gfw-expansion-right > div.meta {
    border: none;
}

.gfw-expansion-right > div > div {
    width: 25%;
    float: left;
}

.gfw-expansion-right > div.gfw-meta > div {
    width: auto;
    margin-right: 20px;
}

.gfw-expansion-right > .actions > div {
    padding-right: 1em;
    width: auto;
}

.gfw-expansion-right > .actions > div:last-child {
    padding-right: 0;
}

/*------------------------------------------------------------------------------
Dialogs
------------------------------------------------------------------------------*/

#gfw-flot-placeholder {
    width: 800px;
    height: 400px;
    clear: both;
}

.gfw-dialog {
    display: none;
}

#gfw-screenshot {
    background: url('images/loading.gif') no-repeat center center transparent;
    border: 2px solid #E4E4E4;
    border-radius: 8px 8px 8px 8px;
    height: 225px;
    margin: 8px auto 0;
    position: relative;
    width: 300px;
}

#gfw-screenshot .gfw-message {
    display: none;
    padding: 10px;
    font-weight: bold;
}

#gfw-scanner {
    position: absolute;
    top: -7px;
    left: -19px
}

/*------------------------------------------------------------------------------
Latest Report
------------------------------------------------------------------------------*/

.gfw-latest-report-wrapper {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

#gfw-score-meta-box .gfw-latest-report-wrapper {
    width: auto;
}

.gfw- {
    color: #6397CB;
    font-weight: bold;
}

.gfw-latest-report-front-page {
    line-height: 1.75em;
    font-weight: bold;
    color: #858585;
}

.gfw-latest-report {
    padding: 10px 15px;
    color: #858585;
    font: 12px/1.231 Arial,Tahoma,Verdana,sans-serif;
    overflow: auto;
}

.gfw-latest-report .gfw-report-title {
    font-size: 13px;
    font-weight: bold;
    line-height: 1.75em;
    color: #858585;
}

.gfw-latest-report-yslow,
.gfw-latest-report-pagespeed,
.gfw-latest-report-details {
    border-right: 1px solid #E4E4E4;
    float: left;
    margin: 0 3px 5px;
    min-width: 170px;
}

/* Specific to dashboard */
#gfw_dashboard_widget .gfw-latest-report-yslow {
    border-right: none;
}

.gfw-latest-report-details {
    border-right: none;
    font-size: 13px;
    line-height: 1.75em;
    margin-right: 0;
}

#gfw-wpurl {
    display: none;
}

/*------------------------------------------------------------------------------
Forms
------------------------------------------------------------------------------*/

.gfw-conditions select.gfw-units {
    display: none;
    width: 100px;
}

.gfw-placeholder-alternative {
    display: none;
}

#gfw_url {
    width: 100%;
    padding: 8px;
}

#gfw_label,
#gfw_location,
#gfw_recurrence,
.gfw-conditions select,
.gfw #api_username,
.gfw #api_key,
.gfw #default_location {
    width: 320px;
}

/*------------------------------------------------------------------------------
Tables
------------------------------------------------------------------------------*/

.gfw-table-wrapper {
    padding: 15px 10px 10px;
    border: 1px solid #E4E4E4;
    border-radius: 8px 8px 8px 8px;
    background-color: #ffffff;
}

.gfw-table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

.gfw-table .hover {
    background-color: #eaeaea;
}

.gfw-table th {
    color: #6397CB;
    padding-top: 0;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
}

.gfw-table td,
.gfw-table th {
    overflow: hidden;
    padding: 6px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.gfw-table .odd {
    background-color: #F3F3F3;
}

.gfw-table .even {
    background-color: #FAFAFA;
}

.gfw-table td {
    color: #436688;
}

.gfw-no-posts {
    text-align: center;
}

.gfw-failed {
    color: #ff0000;
}

/*------------------------------------------------------------------------------
Reports table
------------------------------------------------------------------------------*/

.gfw-reports-url {
    width: 29%;
}

/*------------------------------------------------------------------------------
Responsive layout tweaks
------------------------------------------------------------------------------*/

@media screen and (max-width: 850px) {
    .gfw .inner-sidebar {
        float: none;
        width: auto;
    }

    .gfw .inner-sidebar #side-sortables {
        min-height: auto;
        width: auto;
    }

    .gfw .has-right-sidebar #post-body-content {
        margin-right: 0;
    }
}

@media screen and (max-width: 540px) {
    .gfw-table > thead > tr > th {
        display: none;
    }

    .gfw-table td {
        display: block;
        width: auto;
    }

    .gfw-table td:before {
        content: attr(data-th);
        display: inline-block;
        font-weight: bold;
        margin-right: 0.5em;
        text-transform: uppercase;
    }

    .gfw-table .gfw-grade-meter {
        display: inline-block;
        width: 97px;
    }

    .gfw-expansion {
        padding: 0 0 16px;
    }

    /* Hide screenshot */
    .gfw-expansion-left {
        display: none;
    }
}
